body{
  background-color: #393E46;
}
h1{
  color: #4ECCA3;
  margin: 30px;
  font-size: 8rem;
  font-family: 'Lobster', cursive;
}
p{
  color: #4ECCA3;
  font-size: 2rem;
  font-family: 'Indie Flower',cursive;
}
img{
  width: 80%;
}
/*button{
  font-family: 'Indie Flower',cursive;
  text-align: center;
  font-size: 1rem;
  background-color:#395B64;
  color: #4ECCA3;
  border: solid 1px;
  border-color: #393E46;
}*/
.container{
  width: 80%;
  margin: auto;
  text-align: center;
}
.dice{
  text-align: center;
  display: inline-block;
}
footer{
  margin: 5%;
  color: #EEEEEE;
  font-family: 'Indie Flower',cursive;
  text-align: center;
}
